@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


*{
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #157393;
    font-size: 1.3em;
    line-height: 1.5;
    font-family: Oswald;
    
}

h1, h2 {
    align-content: center center;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3.5em;
}

.section {
    max-width: 640px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

p {
    font-size: 35px;
}

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid black;
    background-color: white;
    padding: 0.5rem;    
    text-align: center;
}

.relogio {
    font-size: 8.0rem;
}

.pausado {
    color: red;
}